<h2>{{ section.title }}</h2>

{% if section.childSections %}
  <div class="child-section-list">
	{% for childSection in section.childSections %}
	<p class="book-section-list-item section-title depth-{{ depth }}">{{ childSection.title }}</p>
	{% endfor %}
  </div>
{% endif %}